{% extends 'global/layout.twig' %}

{% block content %}
	<h2>Get all beers :)</h2>
    <ul class="beers-list">
        {% for beer in beers %}
            <li>{{ beer.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}