{% extends 'global/layout.twig' %}

{% block content %}
	<h2>Get all users :)</h2>
    <ul class="beers-list">
        {% for user in users %}
            <li>{{ user.prenom }}</li>
        {% endfor %}
    </ul>
{% endblock %}