<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <div class="main-container">
        {% block content %} {% endblock %}
    </div>
    <script src="js/main.min.js"></script>
</body>
</html>