<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TEST PHP LEXIK</title>
    {# CSS #}
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
</head>
<body>
	
	<nav class="navbar navbar-inverse bg-primary">
	</nav>

    <div class="main-container container">
        {% block content %} {% endblock %}
    </div>

	{# JS #}
    <script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="js/main.min.js"></script>
</body>
</html>