<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TEST PHP LEXIK</title>
    {# CSS #}
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-social/bootstrap-social.css"/>
</head>
<body>
	
	<nav class="navbar navbar-inverse bg-primary">
		<a class="navbar-brand" href="#">Test LEXIK - JUELLE Nicolas</a>
		<a class="btn btn-social-icon btn-linkedin" target="_blank" href="http://www.linkedin.com/in/nicolas-juelle-53339552">
		  <span class="fa fa-linkedin"></span>
		</a>
		<a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/Njuelle?tab=repositories">
		  <span class="fa fa-github"></span>
		</a>
	</nav>

    <div class="main-container container">
        {% block content %} {% endblock %}
    </div>

	{# JS #}
    <script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="js/main.min.js"></script>
</body>
</html>